[user]
  email = contact.simohamed@gmail.com
  name = smhmd

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
[core]
  editor = /usr/bin/nvim

[merge]
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[difftool]
  prompt = false
[diff]
  tool = vimdiff
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "diff"]
  meta = 11
  frag = magenta bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse
[hub]
	protocol = ssh
[alias]
	lost = !git checkout . && git clean -d -f && :
