ignore-scripts=false
prefix=/home/me/.npm-packages
init-author-name=smhmd
init-author-url=https://simohamed.tech/
init-author-email=contact.simohamed@gmail.com
init-license=MIT
init-version=0.1.0
save-exact=true
